/************************************************************************/
/*Text styles for FAQ page                                                          */
/************************************************************************/


ol{
	padding: 0 0 0 20px;
}


.section{
	width:600px;
	padding-bottom: 10px;
}

.answer{
	padding: 10px 0 10px 0;
}


.question{
	
}

.button{

}
